/target
/pkg
/dist
/node_modules
*.pyc
__pycache__
*.egg-info
.env
.env.local
.DS_Store
Thumbs.db
test_schema.json
*.pytest_cache
examples/*/node_modules/
examples/*/package-lock.json
examples/*/src/schema.json
schema.json
